<div id="body_wrap" class="unlogin member_page">
  <div id="content" class="clearfix">
    <div class="section">
      <span class="sec_top_dark"></span>
      <div class="sec_content clearfix">          <h2 class="text">上传个人头像<span class="direct_login text f14">:-)又换新头像咯.</span></h2>
        <div class="unlogin_form fl">
          <%= form_for :avatar, :url => '/upload/avatar', :html => {:multipart => true} do |form| %>
              <%= form.file_field :avatar %>
            <p class="acts">
              <%= form.submit '上传', :class=>"text blue_btn blue_btn2 r3px f14"%>
              <span id="submiting"></span> </p>
          <% end %>
        </div>

        <div class="unlogin_side fr">
          <h3>通过合作网站直接登录虾米</h3>
          <ul class="reg_with vam">
            <li><a href="javascript:;" onclick="renrenLogin();return false;"><i class="icon renren"></i><span>人人网</span></a></li>
            <li><a href="javascript:;" onclick="sinaLogin();return false;"><i class="icon sina"></i><span>新浪微博</span></a></li>
            <li><a href="javascript:;" onclick="sdoLogin();return false;"><i class="icon sdo"></i><span>盛大通行证</span></a></li>
            <li><a href="javascript:;" onclick="neteaseLogin();return false;"><i class="icon dream"></i><span>梦幻人生</span></a><div id="oa-root"></div></li>
            <li><a href="/alipay/setting"><i class="icon alipay"></i><span>支付宝</span></a></li>
          </ul>
          <cite>或者</cite>
        </div>

      </div>
      <span class="sec_bot_dark"></span>
    </div>
  </div> <!-- #content -->
</div> <!-- #body_wrap -->
<script>

</script>
