<div class="mainarea">
  <div class="maininner">
    <div class="bdrcontent">
      <div class="title"><h3>欢迎光临管理平台</h3></div>
      <p>通过登录管理平台，您可以对站点的参数进行设置，并可以及时获取官方的更新动态和重要补丁通告。</p>
    </div>
    <br>

    <div class="bdrcontent">
      <div class="title">
        <h3>官方最新动态</h3>
        <p>官方新版本的发布与重要补丁的升级等动态，都会在这里显示。</p>
      </div>
      <div id="customerinfor" style="line-height:1.5em;"><br>重要安全补丁：<br><a href="http://u.discuz.net/home/space-174393-do-blog-id-79937.html" target="_blank" style="color:blue;font-weight:bold;">最新补丁包！UCHome 2.0 正式版 20100406补丁包（2010年4月16号更新）</a><br>官方最新版本：<br><a href="http://download.comsenz.com/UCenter_Home/2.0/" target="_blank">UCenter Home 2.0 正式版(20100416)</a></div>
      <br>
      <div class="title">
        <h3>技术支持服务</h3>
        <p>如果你在使用中遇到问题，可以访问以下链接需求帮助</p>
      </div>
      <ul class="listcol list2col">
        <li><a href="http://www.discuz.net/index.php?gid=141" target="_blank">官方交流论坛</a></li>
        <li><a href="http://www.comsenz.com/purchase/uchome" target="_blank">Comsenz商业支持服务</a></li>
      </ul>
    </div>
    <br>

    <div class="bdrcontent">
      <div class="title">
        <h3>站点数据统计</h3>
        <p>通过站点统计，您可以整体把握站点的发展状况。</p>
        <p>您还可以查看<a href="do.php?ac=stat" target="_blank">趋势统计</a>，把握站点每日变化。</p>
      </div>
      <ul class="listcol list2col">
        <li>开通空间数: 1 (<a href="do.php?ac=stat&amp;type=login" target="_blank">趋势</a>)</li>
        <li>全部动态数: 1</li>
        <li>全部日志数: 0 (<a href="do.php?ac=stat&amp;type=blog" target="_blank">趋势</a>)</li>
        <li>全部相册数: 0 (<a href="do.php?ac=stat&amp;type=pic" target="_blank">趋势</a>)</li>
        <li>全部分享数: 0 (<a href="do.php?ac=stat&amp;type=share" target="_blank">趋势</a>)</li>
        <li>全部话题数: 0 (<a href="do.php?ac=stat&amp;type=thread" target="_blank">趋势</a>)</li>
        <li>全部评论数: 0</li>
        <li>开启应用数: 0</li>
      </ul>
    </div>
    <br>

    <div class="bdrcontent">
      <div class="title"><h3>程序数据库/版本</h3></div>
      <ul>
        <li>操作系统: Linux / PHP v5.3.3-1ubuntu9.3</li>
        <li>数据库版本: 5.1.49-1ubuntu8.1</li>
        <li>上传许可: 2M</li>
        <li>数据库尺寸: 800 KB</li>
        <li>附件尺寸: <a href="admincp.php?attachsize">------</a></li>
        <li>当前程序版本: UCenter Home 2.0 ( 20100416 )</li>
        <li>UCenter Client 版本: 1.5.0 Release 20090121</li>
      </ul>
    </div>
    <br>

    <div class="bdrcontent">

      <div class="title">
        <h3>开发团队</h3>
      </div>
      <table>
        <tbody><tr><td width="80">版权所有</td><td><a href="http://www.comsenz.com/" target="_blank">康盛创想(北京)科技有限公司 (Comsenz Inc.)</a></td></tr>
          <tr><td>总策划</td><td><a href="http://www.discuz.net/space.php?uid=1" target="_blank">Kevin 'Crossday' Day</a>, <a href="http://www.discuz.net/space.php?uid=174393" target="_blank">Guode 'Sup' Li</a></td></tr>
          <tr><td>开发团队</td><td><a href="http://www.discuz.net/space.php?uid=322293" target="_blank">Qingpeng 'Andy' Zheng</a>, <a href="http://www.discuz.net/space.php?uid=248739" target="_blank">Jing 'Qiezi' Zou</a>, <a href="http://www.discuz.net/space.php?uid=672953" target="_blank">Fei 'Fengshu' Zhao</a>, <a href="http://www.discuz.net/space.php?uid=465273" target="_blank">Lijun 'Maple-x' Zhang</a>, <a href="http://www.discuz.net/space.php?uid=679269" target="_blank">Lei 'Shitou' Zhao</a>, <a href="http://www.discuz.net/space.php?uid=906359" target="_blank">Peng 'Dingusxp' Xu</a></td></tr>
          <tr><td>美工设计</td><td><a href="http://www.discuz.net/space.php?uid=294092" target="_blank">Fangming 'Lushnis' Li</a>, <a href="http://www.discuz.net/space.php?uid=174393" target="_blank">Yulong 'Yulong' Li</a>, <a href="http://www.discuz.net/space.php?uid=41050" target="_blank">Rujian '小古' Mo</a></td></tr>
          <tr><td>公司网站</td><td><a href="http://www.comsenz.com" target="_blank">http://www.comsenz.com</a></td></tr>
          <tr><td>产品网站</td><td><a href="http://u.discuz.net" target="_blank">http://u.discuz.net</a></td></tr>
        </tbody></table>
    </div>
  </div>
  <br>
</div>