<li iid="9840637240" class="g_f">
	<div class="r5 g">
		<a href="javascript:;" class="del"></a>
		<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T10RJ8Xl8aXXbjXVo9_102238.jpg_100x100.jpg" class="i">
		<%= image_tag "goods_tag.png", :class => "tag" %>
	</div>
</li>