<div id="page" class="blue">
  <div id="wrapper" class="corner clearfix">
    <!--[if IE]><i class="t_b"></i><![endif]-->
    <div id="w_content">
      <div id="wc_notice" class="corner">
        <!--[if IE]><i class="t_b"></i><![endif]-->
        <div id="wcn_content"></div>
        <b></b>
        <!--[if IE]><i class="b_b"></i><![endif]-->
      </div>

		<div id="wc_slider" class="corner mgt20">
	<!--[if IE]><i class="t_b"></i><![endif]-->
	<div id="wcs_content">
      <div class="images">
                <div style="display: none; ">
          <a class="coin-slides" href="http://www.xiami.com/group/thread-detail/tid/197573" target="_blank" title="川子《我要结婚》专辑发布暨演唱会">
            <img width="678" height="150" src="http://img.xiami.com/./images/common/uploadpic/40/13045765405158.jpg">
            <h3>川子《我要结婚》专辑发布暨演唱会</h3>
          </a>
        </div>
                <div style="display: none; ">
          <a class="coin-slides" href="http://www.xiami.com/events/vae2011" target="_blank" title="【有奖投票】论思想大碟 和许嵩私享会">
            <img width="678" height="150" src="http://img.xiami.com/./images/common/uploadpic/48/13038168487707.jpg">
            <h3>【有奖投票】论思想大碟 和许嵩私享会</h3>
          </a>
        </div>
                <div style="display: none; ">
          <a class="coin-slides" href="http://www.xiami.com/events/2011midi" target="_blank" title="2011迷笛音乐节">
            <img width="678" height="150" src="http://img.xiami.com/./images/common/uploadpic/78/13031187782723.jpg">
            <h3>2011迷笛音乐节</h3>
          </a>
        </div>
                <div style="display: block; ">
          <a class="coin-slides" href="http://www.xiami.com/events/cm2011" target="_blank" title="2011草莓音乐节">
            <img width="678" height="150" src="http://img.xiami.com/./images/common/uploadpic/71/13031095714452.jpg">
            <h3>2011草莓音乐节</h3>
          </a>
        </div>
                <div style="display: none; ">
          <a class="coin-slides" href="http://www.xiami.com/events/cmvfestival2011" target="_blank" title="2011中国乐谷·北京国际流行音乐季">
            <img width="678" height="150" src="http://img.xiami.com/./images/common/uploadpic/1/13031063014362.jpg">
            <h3>2011中国乐谷·北京国际流行音乐季</h3>
          </a>
        </div>
              </div>
      <div class="slidetabs">
        <a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class="current"></a><a href="#" class=""></a>      </div>
    </div>
	<!--[if IE]><i class="b_b"></i><![endif]-->
   </div>
      <div id="wc_hot" class="corner mgt20">
	<!--[if IE]><i class="t_b"></i><![endif]-->
      <h2 class="text">热门音乐</h2>
      <ul id="wch_type" class="tab_list">
        <li class="tabitem" rel=".rank_sec" style="cursor: pointer; "><a href="javascript:;" onclick="_gaq.push(['_trackEvent', 'Tabs', 'HotMusic', '排行榜']);" onfocus="this.blur();">排行榜</a></li>
        <li class="fence">|</li>
        <li class="tabitem active" rel="#wch_album" style="cursor: pointer; "><a href="javascript:;" onclick="_gaq.push(['_trackEvent', 'Tabs', 'HotMusic', '专辑']);" onfocus="this.blur();">专辑</a></li>
        <li class="fence">|</li>
        <li class="tabitem" rel=".common_sec" style="cursor: pointer; "><a href="javascript:;" onclick="_gaq.push(['_trackEvent', 'Tabs', 'HotMusic', '精选集']);" onfocus="this.blur();">精选集</a></li>
        <li class="fence">|</li>
        <li class="tabitem" rel=".radio_list_list" style="cursor: pointer; "><a href="javascript:;" onclick="_gaq.push(['_trackEvent', 'Tabs', 'HotMusic', '电台']);" onfocus="this.blur();">电台</a></li>
      </ul>      <div id="wch_album" class="albums">         <div class="album_block">
          <div class="album_img"><a href="/album/438628" title="美妙生活 - 林宥嘉"><img src="http://img.xiami.com/./images/album/img17/23517/4386281304388786_1.jpg" alt="美妙生活 - 林宥嘉"><strong>美妙生活</strong></a></div>
          <p class="aname"><a href="/artist/23517" title="林宥嘉">林宥嘉</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('438628',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('438628','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('438628')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/438691" title="Just A Kiss - Lady Antebellum"><img src="http://img.xiami.com/./images/album/img8/23308/4386911304416175_1.jpg" alt="Just A Kiss - Lady Antebellum"><strong>Just A Kiss</strong></a></div>
          <p class="aname"><a href="/artist/23308" title="Lady Antebellum">Lady Antebellum</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('438691',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('438691','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('438691')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/438655" title="Kary On Live 2011 - 吴雨霏"><img src="http://img.xiami.com/./images/album/img48/1748/4386551304406673_1.jpg" alt="Kary On Live 2011 - 吴雨霏"><strong>Kary On Live 2011</strong></a></div>
          <p class="aname"><a href="/artist/1748" title="吴雨霏">吴雨霏</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('438655',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('438655','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('438655')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/438154" title="方皓玟 全新同名新曲+精选专辑 - 方皓玟"><img src="http://img.xiami.com/./images/album/img16/1516/4381541304394808_1.jpg" alt="方皓玟 全新同名新曲+精选专辑 - 方皓玟"><strong>方皓玟 全新同名新曲+精选专辑</strong></a></div>
          <p class="aname"><a href="/artist/1516" title="方皓玟">方皓玟</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('438154',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('438154','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('438154')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/436362" title="曙光 - 娃娃"><img src="http://img.xiami.com/./images/album/img37/1737/4363621304389250_1.jpg" alt="曙光 - 娃娃"><strong>曙光</strong></a></div>
          <p class="aname"><a href="/artist/1737" title="娃娃">娃娃</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('436362',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('436362','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('436362')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/433864" title="When You Grow Up - Priscilla Ahn"><img src="http://img.xiami.com/./images/album/img45/23845/4338641301636474_1.jpg" alt="When You Grow Up - Priscilla Ahn"><strong>When You Grow Up</strong></a></div>
          <p class="aname"><a href="/artist/23845" title="Priscilla Ahn">Priscilla Ahn</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('433864',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('433864','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('433864')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/438464" title="情人X知己 - 梁文音"><img src="http://img.xiami.com/./images/album/img44/56644/4384641304048263_1.jpg" alt="情人X知己 - 梁文音"><strong>情人X知己</strong></a></div>
          <p class="aname"><a href="/artist/56644" title="梁文音">梁文音</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('438464',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('438464','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('438464')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/428342" title="我的青春谁做主 影视音乐原声大碟 - 林海"><img src="http://img.xiami.com/./images/album/img8/608/4283421303445501_1.jpg" alt="我的青春谁做主 影视音乐原声大碟 - 林海"><strong>我的青春谁做主 影视音乐原声大碟</strong></a></div>
          <p class="aname"><a href="/artist/608" title="林海">林海</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('428342',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('428342','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('428342')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/426244" title="Love? - Jennifer Lopez"><img src="http://img.xiami.com/./images/album/img12/14812/4262441303271780_1.jpg" alt="Love? - Jennifer Lopez"><strong>Love?</strong></a></div>
          <p class="aname"><a href="/artist/14812" title="Jennifer Lopez">Jennifer Lopez</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('426244',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('426244','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('426244')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/437978" title="刘德华 Unforgettable Concert 2010 - 刘德华"><img src="http://img.xiami.com/./images/album/img48/648/4379781303789789_1.jpg" alt="刘德华 Unforgettable Concert 2010 - 刘德华"><strong>刘德华 Unforgettable Concert 2010</strong></a></div>
          <p class="aname"><a href="/artist/648" title="刘德华">刘德华</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('437978',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('437978','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('437978')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/434577" title="会跳舞的文艺青年 - 李宇春"><img src="http://img.xiami.com/./images/album/img28/1828/4345771303447673_1.jpg" alt="会跳舞的文艺青年 - 李宇春"><strong>会跳舞的文艺青年</strong></a></div>
          <p class="aname"><a href="/artist/1828" title="李宇春">李宇春</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('434577',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('434577','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('434577')" title="专辑试听">专辑试听</a></span> </div>
                <div class="album_block">
          <div class="album_img"><a href="/album/437362" title="大明宫词 影视音乐原声大碟 - 林海"><img src="http://img.xiami.com/./images/album/img8/608/4373621303379959_1.jpg" alt="大明宫词 影视音乐原声大碟 - 林海"><strong>大明宫词 影视音乐原声大碟</strong></a></div>
          <p class="aname"><a href="/artist/608" title="林海">林海</a></p>
          <dl>
            <dt>收藏</dt>
            <dd>
              <ul>
                <li class="album_dofav"><a href="javascript:;" onclick="tag('437362',5);"><b></b>收藏到音乐库</a></li>
                <li class="album_doshare"><a href="javascript:;" onclick="recommend('437362','33');"><b></b>分享</a></li>
              </ul>
            </dd>
          </dl> <span><a href="javascript:;" onclick="playalbum('437362')" title="专辑试听">专辑试听</a></span> </div>
         </div>
        
      
      <!--hotsong-->
      <textarea class="hidden">      &lt;div class="rank_sec"&gt;
        &lt;table cellspacing="0" cellpadding="0" class="track_list"&gt;
                      &lt;tr  class="no_0"&gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770160772" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;01&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770160772" title="晚安"&gt;晚安&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/23517" title=""&gt;林宥嘉&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;41512&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:99%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770160772');" title=""&gt;晚安在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr  class="no_1"&gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770016341" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;02&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770016341" title="当冬夜渐暖"&gt;当冬夜渐暖&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/2132" title=""&gt;孙燕姿&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;41093&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:98.1521487763%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770016341');" title=""&gt;当冬夜渐暖在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr  class="no_2"&gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770016342" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;03&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770016342" title="愚人的国度"&gt;愚人的国度&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/2132" title=""&gt;孙燕姿&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;40120&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:96.1832723068%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770016342');" title=""&gt;愚人的国度在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1769701071" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;04&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1769701071" title="E.T."&gt;E.T.&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/23868" title=""&gt;Katy Perry&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;26356&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:68.3316631336%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1769701071');" title=""&gt;E.T.在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1769915743" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;05&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1769915743" title="Someone Like You"&gt;Someone Like You&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/23485" title=""&gt;Adele&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;26169&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:67.9532665253%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1769915743');" title=""&gt;Someone Like You在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770110090" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;06&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770110090" title="只看见妳"&gt;只看见妳&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/65647" title=""&gt;炎亚纶&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;24637&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:64.8532472538%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770110090');" title=""&gt;只看见妳在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770154507" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;07&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770154507" title="Judas"&gt;Judas&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/47821" title=""&gt;Lady GaGa&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;22549&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:60.628155714%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770154507');" title=""&gt;Judas在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1770146041" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;08&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1770146041" title="Gotta Make A Change"&gt;Gotta Make A Change&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/216" title=""&gt;方大同&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;22004&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:59.5253420698%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1770146041');" title=""&gt;Gotta Make A Change在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1769880752" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;09&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1769880752" title="Just Can't Get Enough"&gt;Just Can't Get Enough&lt;/a&gt; -- &lt;a class="artist_name" href="/artist/18898" title=""&gt;Black Eyed Peas&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;21810&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:59.1327808826%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1769880752');" title=""&gt;Just Can't Get Enough在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                      &lt;tr &gt;
          
            &lt;td class="chkbox"&gt;&lt;input type="checkbox" name="recommendids" value="1769982649" checked="checked"/&gt;&lt;/td&gt;
            &lt;td class="trackid"&gt;10&lt;/td&gt;
            &lt;td class="song_name"&gt;&lt;a href="/song/1769982649" title="On The Floor "&gt;On The Floor &lt;/a&gt; -- &lt;a class="artist_name" href="/artist/14812" title=""&gt;Jennifer Lopez&lt;/a&gt;&lt;/td&gt;
            &lt;td class="song_hot"&gt;20456&lt;/td&gt;
            &lt;td class="song_hot_bar"&gt;&lt;span style="width:56.3929466178%"&gt;&nbsp;&lt;/span&gt;&lt;/td&gt;
            &lt;td class="song_act"&gt;&lt;div class="song_do"&gt;&lt;a class="song_play" href="javascript:void(0)" onClick="play('1769982649');" title=""&gt;On The Floor 在线试听&lt;/a&gt;&lt;!----&gt;&lt;/div&gt;&lt;/td&gt;
          &lt;/tr&gt;
                  &lt;/table&gt;
        &lt;div class="chapter_ctrl cd_count"&gt;
          &lt;div class="ctrl_play"&gt; &lt;a onClick="selectAll('recommendids')" title="" href="javascript:void(0)" class="bt_choose"&gt;&lt;span&gt;全选&lt;/span&gt;&lt;/a&gt; &lt;a title="" onClick="inverse('recommendids');" href="javascript:void(0);" class="bt_choose"&gt;&lt;span&gt;反选&lt;/span&gt;&lt;/a&gt; &lt;a onClick="playsongs('recommendids');" title="" href="javascript:void(0);" class="bt_play"&gt;&lt;span&gt;播放本页选中歌曲&lt;/span&gt;&lt;/a&gt; &lt;/div&gt;
          &lt;div class="ctrl_gears"&gt; &lt;a title="" href="javascript:void(0)" class="bt_cdgears"&gt;&lt;span&gt;更多&lt;/span&gt;&lt;/a&gt;
            &lt;div class="ctrl_gears_more hidden"&gt;&lt;em&gt;&lt;/em&gt; &lt;a onClick="collects('recommendids');" title="添加选中歌曲到精选集" href="javascript:void(0);"&gt;添加选中歌曲到精选集&lt;/a&gt; &lt;a title="直接生成动态播播" href="/widget/imulti-dynamic/id/615/type/artisthot"&gt;直接生成动态播播&lt;/a&gt; &lt;a onClick="makeMultiWidget('recommendids');return false;" title="将选中歌曲制作成虾米播播" href="javascript:;" class="towidget"&gt;将选中歌曲制作成虾米播播&lt;/a&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="ctrl_download"&gt;&lt;a onClick="downloadsongs('recommendids')" title="" href="javascript:void(0)" class="bt_download"&gt;&lt;span&gt;下载选中歌曲&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      </textarea>
      
      
      <!--hotalbum-->
      <textarea class="hidden">      &lt;div id="wch_album" class="albums"&gt;         &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/438628" title="美妙生活 - 林宥嘉"&gt;&lt;img src="http://img.xiami.com/./images/album/img17/23517/4386281304388786_1.jpg" alt="美妙生活 - 林宥嘉" /&gt;&lt;strong&gt;美妙生活&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/23517" title="林宥嘉"&gt;林宥嘉&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('438628',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('438628','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('438628')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/438691" title="Just A Kiss - Lady Antebellum"&gt;&lt;img src="http://img.xiami.com/./images/album/img8/23308/4386911304416175_1.jpg" alt="Just A Kiss - Lady Antebellum" /&gt;&lt;strong&gt;Just A Kiss&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/23308" title="Lady Antebellum"&gt;Lady Antebellum&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('438691',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('438691','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('438691')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/438655" title="Kary On Live 2011 - 吴雨霏"&gt;&lt;img src="http://img.xiami.com/./images/album/img48/1748/4386551304406673_1.jpg" alt="Kary On Live 2011 - 吴雨霏" /&gt;&lt;strong&gt;Kary On Live 2011&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/1748" title="吴雨霏"&gt;吴雨霏&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('438655',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('438655','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('438655')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/438154" title="方皓玟 全新同名新曲+精选专辑 - 方皓玟"&gt;&lt;img src="http://img.xiami.com/./images/album/img16/1516/4381541304394808_1.jpg" alt="方皓玟 全新同名新曲+精选专辑 - 方皓玟" /&gt;&lt;strong&gt;方皓玟 全新同名新曲+精选专辑&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/1516" title="方皓玟"&gt;方皓玟&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('438154',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('438154','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('438154')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/436362" title="曙光 - 娃娃"&gt;&lt;img src="http://img.xiami.com/./images/album/img37/1737/4363621304389250_1.jpg" alt="曙光 - 娃娃" /&gt;&lt;strong&gt;曙光&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/1737" title="娃娃"&gt;娃娃&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('436362',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('436362','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('436362')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/433864" title="When You Grow Up - Priscilla Ahn"&gt;&lt;img src="http://img.xiami.com/./images/album/img45/23845/4338641301636474_1.jpg" alt="When You Grow Up - Priscilla Ahn" /&gt;&lt;strong&gt;When You Grow Up&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/23845" title="Priscilla Ahn"&gt;Priscilla Ahn&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('433864',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('433864','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('433864')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/438464" title="情人X知己 - 梁文音"&gt;&lt;img src="http://img.xiami.com/./images/album/img44/56644/4384641304048263_1.jpg" alt="情人X知己 - 梁文音" /&gt;&lt;strong&gt;情人X知己&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/56644" title="梁文音"&gt;梁文音&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('438464',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('438464','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('438464')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/428342" title="我的青春谁做主 影视音乐原声大碟 - 林海"&gt;&lt;img src="http://img.xiami.com/./images/album/img8/608/4283421303445501_1.jpg" alt="我的青春谁做主 影视音乐原声大碟 - 林海" /&gt;&lt;strong&gt;我的青春谁做主 影视音乐原声大碟&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/608" title="林海"&gt;林海&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('428342',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('428342','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('428342')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/426244" title="Love? - Jennifer Lopez"&gt;&lt;img src="http://img.xiami.com/./images/album/img12/14812/4262441303271780_1.jpg" alt="Love? - Jennifer Lopez" /&gt;&lt;strong&gt;Love?&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/14812" title="Jennifer Lopez"&gt;Jennifer Lopez&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('426244',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('426244','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('426244')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/437978" title="刘德华 Unforgettable Concert 2010 - 刘德华"&gt;&lt;img src="http://img.xiami.com/./images/album/img48/648/4379781303789789_1.jpg" alt="刘德华 Unforgettable Concert 2010 - 刘德华" /&gt;&lt;strong&gt;刘德华 Unforgettable Concert 2010&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/648" title="刘德华"&gt;刘德华&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('437978',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('437978','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('437978')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/434577" title="会跳舞的文艺青年 - 李宇春"&gt;&lt;img src="http://img.xiami.com/./images/album/img28/1828/4345771303447673_1.jpg" alt="会跳舞的文艺青年 - 李宇春" /&gt;&lt;strong&gt;会跳舞的文艺青年&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/1828" title="李宇春"&gt;李宇春&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('434577',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('434577','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('434577')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
                &lt;div class="album_block"&gt;
          &lt;div class="album_img"&gt;&lt;a href="/album/437362" title="大明宫词 影视音乐原声大碟 - 林海"&gt;&lt;img src="http://img.xiami.com/./images/album/img8/608/4373621303379959_1.jpg" alt="大明宫词 影视音乐原声大碟 - 林海" /&gt;&lt;strong&gt;大明宫词 影视音乐原声大碟&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
          &lt;p class="aname"&gt;&lt;a href="/artist/608" title="林海"&gt;林海&lt;/a&gt;&lt;/p&gt;
          &lt;dl&gt;
            &lt;dt&gt;收藏&lt;/dt&gt;
            &lt;dd&gt;
              &lt;ul&gt;
                &lt;li class="album_dofav"&gt;&lt;a href="javascript:;" onclick="tag('437362',5);"&gt;&lt;b&gt;&lt;/b&gt;收藏到音乐库&lt;/a&gt;&lt;/li&gt;
                &lt;li class="album_doshare"&gt;&lt;a href="javascript:;" onclick="recommend('437362','33');"&gt;&lt;b&gt;&lt;/b&gt;分享&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/dd&gt;
          &lt;/dl&gt; &lt;span&gt;&lt;a href="javascript:;" onclick="playalbum('437362')" title="专辑试听"&gt;专辑试听&lt;/a&gt;&lt;/span&gt; &lt;/div&gt;
         &lt;/div&gt;
        </textarea>
      
      
      <!--hotcollect-->
      <textarea class="hidden">      &lt;div class="common_sec"&gt;
        &lt;div id="collects_recommend"&gt;
          &lt;ul&gt;
                        &lt;li&gt;
              &lt;div class="collect_item100_block"&gt; &lt;a title="日文精品" href="/song/showcollect/id/4715773" class="info"&gt;
                &lt;p class="cover"&gt;&lt;span&gt;&lt;img src="http://img.xiami.com/./images/collect/773/73/47157731304653807_1.jpg" alt="日文精品" &gt;&lt;/span&gt;&lt;/p&gt;
                &lt;p class="name"&gt;日文精品&lt;/p&gt;
                &lt;/a&gt; &lt;b class="ico_cd ele_inline"&gt;&lt;a href="javascript:void(0)" onClick="playcollect('4715773')" title=""&gt;试听&lt;/a&gt;&lt;/b&gt;
                &lt;p class="author"&gt;by&lt;a title="" href="/u/3683414"&gt;晖大虾&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/li&gt;
                        &lt;li&gt;
              &lt;div class="collect_item100_block"&gt; &lt;a title="黑色狂潮桃心♠" href="/song/showcollect/id/4445193" class="info"&gt;
                &lt;p class="cover"&gt;&lt;span&gt;&lt;img src="http://img.xiami.com/./images/collect/93/93/44451931302889058_1.jpg" alt="黑色狂潮桃心♠" &gt;&lt;/span&gt;&lt;/p&gt;
                &lt;p class="name"&gt;黑色狂潮桃心♠&lt;/p&gt;
                &lt;/a&gt; &lt;b class="ico_cd ele_inline"&gt;&lt;a href="javascript:void(0)" onClick="playcollect('4445193')" title=""&gt;试听&lt;/a&gt;&lt;/b&gt;
                &lt;p class="author"&gt;by&lt;a title="" href="/u/311848"&gt;迷金籽醉&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/li&gt;
                        &lt;li&gt;
              &lt;div class="collect_item100_block"&gt; &lt;a title="【忧伤的让人心疼的歌】" href="/song/showcollect/id/4368046" class="info"&gt;
                &lt;p class="cover"&gt;&lt;span&gt;&lt;img src="http://img.xiami.com/./images/collect/46/46/43680461302426824_1.jpg" alt="【忧伤的让人心疼的歌】" &gt;&lt;/span&gt;&lt;/p&gt;
                &lt;p class="name"&gt;【忧伤的让人心疼的歌】&lt;/p&gt;
                &lt;/a&gt; &lt;b class="ico_cd ele_inline"&gt;&lt;a href="javascript:void(0)" onClick="playcollect('4368046')" title=""&gt;试听&lt;/a&gt;&lt;/b&gt;
                &lt;p class="author"&gt;by&lt;a title="" href="/u/1342249"&gt;夏之萌&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/li&gt;
                        &lt;li&gt;
              &lt;div class="collect_item100_block"&gt; &lt;a title="总有一些歌能在无形中击中你" href="/song/showcollect/id/4698866" class="info"&gt;
                &lt;p class="cover"&gt;&lt;span&gt;&lt;img src="http://img.xiami.com/./images/collect/866/66/46988661304528251_1.jpg" alt="总有一些歌能在无形中击中你" &gt;&lt;/span&gt;&lt;/p&gt;
                &lt;p class="name"&gt;总有一些歌能在无形中击中你&lt;/p&gt;
                &lt;/a&gt; &lt;b class="ico_cd ele_inline"&gt;&lt;a href="javascript:void(0)" onClick="playcollect('4698866')" title=""&gt;试听&lt;/a&gt;&lt;/b&gt;
                &lt;p class="author"&gt;by&lt;a title="" href="/u/1345197"&gt;朵娜&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/li&gt;
                        &lt;li&gt;
              &lt;div class="collect_item100_block"&gt; &lt;a title="Ms.Mama 2011 因为感动  献给天下母亲" href="/song/showcollect/id/4694907" class="info"&gt;
                &lt;p class="cover"&gt;&lt;span&gt;&lt;img src="http://img.xiami.com/./images/collect/907/7/46949071304504288_1.jpg" alt="Ms.Mama 2011 因为感动  献给天下母亲" &gt;&lt;/span&gt;&lt;/p&gt;
                &lt;p class="name"&gt;Ms.Mama 2011 因为感动  献给天下母亲&lt;/p&gt;
                &lt;/a&gt; &lt;b class="ico_cd ele_inline"&gt;&lt;a href="javascript:void(0)" onClick="playcollect('4694907')" title=""&gt;试听&lt;/a&gt;&lt;/b&gt;
                &lt;p class="author"&gt;by&lt;a title="" href="/u/1027513"&gt;虫子&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/li&gt;
                      &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      </textarea>
      
      <!--hotradio-->
      <textarea class="hidden">      &lt;div class="radio_list_list"&gt;
        &lt;ul&gt;
                    &lt;li onMouseOut="this.className='clearfix'" onMouseOver="this.className='clearfix bg_grey'" class="clearfix"&gt;
            &lt;div class="radio_item100_list"&gt;
              &lt;p class="radio_cover"&gt; &lt;a href="/radio/play/id/559" title="金牛座 电台"&gt; &lt;img width="100" height="100" src="http://img.xiami.com/./res/img/default/fm/astro_img5.jpg"&gt; &lt;span class=""&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;div class="info"&gt; &lt;a title="" href="/radio/play/id/559" class="radio_icon"&gt;金牛座 电台&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
                    &lt;li onMouseOut="this.className='clearfix'" onMouseOver="this.className='clearfix bg_grey'" class="clearfix"&gt;
            &lt;div class="radio_item100_list"&gt;
              &lt;p class="radio_cover"&gt; &lt;a href="/radio/play/id/108240" title="黄耀明 电台"&gt; &lt;img width="100" height="100" src="http://img.xiami.com/./images/artist//11969993323226_1.jpg"&gt; &lt;span class=""&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;div class="info"&gt; &lt;a title="" href="/radio/play/id/108240" class="radio_icon"&gt;黄耀明 电台&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
                    &lt;li onMouseOut="this.className='clearfix'" onMouseOver="this.className='clearfix bg_grey'" class="clearfix"&gt;
            &lt;div class="radio_item100_list"&gt;
              &lt;p class="radio_cover"&gt; &lt;a href="/radio/play/id/116819" title="林宥嘉 电台"&gt; &lt;img width="100" height="100" src="http://img.xiami.com/./images/artistlogo/2/12922312507602_1.jpg"&gt; &lt;span class=""&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;div class="info"&gt; &lt;a title="" href="/radio/play/id/116819" class="radio_icon"&gt;林宥嘉 电台&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
                    &lt;li onMouseOut="this.className='clearfix'" onMouseOver="this.className='clearfix bg_grey'" class="clearfix"&gt;
            &lt;div class="radio_item100_list"&gt;
              &lt;p class="radio_cover"&gt; &lt;a href="/radio/play/id/112540" title="Concrete Blonde 电台"&gt; &lt;img width="100" height="100" src="http://img.xiami.com/images/artist/12920_1.jpg"&gt; &lt;span class=""&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;div class="info"&gt; &lt;a title="" href="/radio/play/id/112540" class="radio_icon"&gt;Concrete Blonde 电台&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
                    &lt;li onMouseOut="this.className='clearfix'" onMouseOver="this.className='clearfix bg_grey'" class="clearfix"&gt;
            &lt;div class="radio_item100_list"&gt;
              &lt;p class="radio_cover"&gt; &lt;a href="/radio/play/id/116689" title="Jennifer Lopez 电台"&gt; &lt;img width="100" height="100" src="http://img.xiami.com/./images/artist//12238713533288_1.jpg"&gt; &lt;span class=""&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;div class="info"&gt; &lt;a title="" href="/radio/play/id/116689" class="radio_icon"&gt;Jennifer Lopez 电台&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
                  &lt;/ul&gt;
      &lt;/div&gt;
      </textarea>
      
      <div id="wch_bottom"><span>一周全球流行专辑，希望你会喜欢</span><a title="更多热门专辑" href="/music/newalbum" class="more">更多热门专辑<b></b></a></div>
	<!--[if IE]><i class="b_b"></i><![endif]-->
    </div>
    
	
	<script>
		var $tabWrap = $('#wc_hot');
		var $tabBottom = $("#wch_bottom");
		var $tabItems = $tabWrap.find('.tabitem');
		var $tabContent = $tabWrap.find('textarea');
		var bottomStrs = [
			'<span>48小时热听音乐排行榜</span><a title="更多排行榜" href="/music/hot" class="more">更多排行榜<b></b></a>',
			'<span>一周全球流行专辑，希望你会喜欢</span><a title="更多热门专辑" href="/music/newalbum" class="more">更多热门专辑<b></b></a>',
			'<span>虾小米卖力推荐，希望你会喜欢</span><a title="更多热门精选集" href="/collect/recommend" class="more">更多热门精选集<b></b></a>',
			'<span>虾小米卖力推荐，希望你会喜欢</span><a title="更多热门电台" href="/radio/hot" class="more">更多热门电台<b></b></a>'
		];
		
		var currIndex=0;
		$tabBottom.html(bottomStrs[currIndex]);
		$tabItems.css('cursor','pointer').click(function(){
			$tabItems.removeClass('active');
			$(this).addClass('active');
			for(var i=0;i<$tabItems.size();i++){
				var $tab = $($tabItems[i]);
				var $content = $tabWrap.find($tab.attr('rel'));
				if($content.size()>0) $content.addClass('hidden');
				if($tab.hasClass('active')){
					currIndex=i;
					if($content.size()>0)$content.removeClass('hidden');
					else $tab.parent().after($($tabContent[currIndex]).val());
				}
			}
			$tabBottom.html(bottomStrs[currIndex]);
			$.cookie('index_logined_hotmusic_tab', currIndex , { expires: 1, path: '/', domain: 'xiami.com'});
		});
		var tabIndex = $.cookie('index_logined_hotmusic_tab');
		if(tabIndex==null) tabIndex=1;
		$($tabItems[tabIndex]).trigger('click');
		$(".bt_cdgears").live('mouseover',function(){$(this).addClass('active').next().removeClass('hidden').show();});
	</script>
      
    </div>
    <div id="w_sidebar">
      <div id="ws_push" class="corner">
        <ul>
          <li><a href="/member/mypm-notice"><b id="wsp_notice"></b>通知<s><span>17</span></s></a></li>
          <li class="fence"></li>
          <li><a href="/member/request#reqs_friends"><b id="wsp_request"></b>请求<s class="zero"><span>0</span></s></a></li>
        </ul>
        <!--[if IE]><i class="t_l_c"></i><i class="t_r_c"></i><i class="b_l_c"></i><i class="b_r_c"></i><![endif]-->
      </div>
      <div id="ws_user" class="user">
        <div class="user_inner">

          <p> <a href="/u/2844897" class="user_avatar"><img src="http://img.xiami.com/./images/avatar/97/2844897/28448971297700282_1.jpg" width="50" height="50"></a> <a href="/u/2844897"><strong><%= current_user[:nick] %></strong></a> <span class="localcity">重庆 重庆</span> </p>
          <div class="shareSync_index clearfix">
            <span class="title">同步分享：</span><a href="/share">
              <span title="将分享同步到新浪微博" class="sina"><b class="social_gray"></b></span>
              <span title="将分享同步到搜狐微博" class="sohu"><b class="social_gray"></b></span>
              <!---->
              <span title="将分享同步到到豆瓣" class="douban"><b class="social_gray"></b></span>
              <!---->
              <span title="将分享同步到网易微博" class="netease"><b class="social_gray"></b></span>
              <span title="将分享同步到腾讯微博" class="qqt"><b class="social_gray"></b></span>
            </a>
          </div>
          <ol>
            <li><a href="/space/lib-artist/u/2844897">8<em>艺人</em></a></li>
            <li class="fence"></li>
            <li><a href="/space/lib-album/u/2844897">0<em>专辑</em></a></li>
            <li class="fence"></li>
            <li><a href="/space/lib-song/u/2844897">0<em>歌曲</em></a></li>
          </ol>
          <ul>
            <li class="my-clt my-count"><a href="/space/collect/u/2844897">我的精选集</a><span><!--(0)--></span></li>
            <li class="fence"></li>
            <li class="my-share my-count"><a href="/space/rec/u/2844897">我的分享</a><span><!--()--></span></li>
          </ul>
        </div>
      </div>

      <div id="ws_coins">
        <p><span>积分：<em id="credite_show_index">1</em></span><span>等级：<em id="level_show_index"><a href='/websitehelp#help9_3' title='1级'>do</a></em></span></p>
        <div id="check_ins" class="clearfix">
          <a class="checkin text" id="check_in" href="javascript:;" title="">签到 得红包<span>Check in</span></a>
          <div id="checkin_intro">
            签到一次 = 20 积分<br>一周全勤 = 2 红包<br>一月全勤 = 10 红包<br>全年全勤 = 100 红包
          </div>
        </div>
        <div id="wsc_tip">1级<p><span>1/50</span><em style="width: 2%;">&nbsp;</em></p><b></b></div>
      </div>
      <div id="ws_task">
        <h3>新手任务</h3>
        <p><em style="width:50%;"></em><span>已完成50%</span></p>
        <div class="today_task">
          <ul id="task_showindex">

            <li>
              <a href="javascript:;" class="checked"><i></i>完善个人资料</a>
              <div class="task_award"><span class="money" title="红包">＋3</span></div>
            </li>
            <li>
              <a href="javascript:;" class="checked"><i></i>更新头像</a>
              <div class="task_award"><span class="money" title="红包">＋2</span></div>
            </li>
            <li>
              <a href="/member/edit-mail" class="showindex"><i></i>验证邮箱</a>
              <div class="task_award"><span class="money" title="红包">＋5</span></div>
            </li>
            <li>
              <a href="/share" class="showindex"><i></i>绑定2个以上同步分享帐号</a>
              <div class="task_award"><span class="money" title="红包">＋10</span></div>
            </li>
          </ul>
        </div>
        <div id="wst_bottom"><a href="/task/all" class="more">挑战更多任务<b></b></a></div>
      </div>

      <div id="ws_album" class="albums">
        <h3>我收藏的艺人专辑更新...</h3>
        <div class="album_block">
          <div class="album_img"><a title="My Private Christmas Song - 陈奕迅" href="/album/414691"><img alt="My Private Christmas Song - 陈奕迅" src="http://img.xiami.com/./images/album/img35/135/4146911291714770_3.jpg"></a></div>
          <p class="aname"><a title="My Private Christmas Song - 陈奕迅" href="/album/414691"><strong>My Private Christmas Song</strong></a><a title="陈奕迅" href="/artist/135">陈奕迅</a>2010-12</p>
          <span><a title="专辑试听" onclick="playalbum('414691')" href="javascript:;">专辑试听</a></span>
        </div>
        <div class="album_block">
          <div class="album_img"><a title="三分拍 - 张学友" href="/album/417233"><img alt="三分拍 - 张学友" src="http://img.xiami.com/./images/album/img98/1198/4172331293085482_3.jpg"></a></div>
          <p class="aname"><a title="三分拍 - 张学友" href="/album/417233"><strong>三分拍</strong></a><a title="张学友" href="/artist/1198">张学友</a>2010-12</p>
          <span><a title="专辑试听" onclick="playalbum('417233')" href="javascript:;">专辑试听</a></span>
        </div>
        <div class="album_block">
          <div class="album_img"><a title="情歌没有告诉你 - 梁静茹" href="/album/61023"><img alt="情歌没有告诉你 - 梁静茹" src="http://img.xiami.com/./images/album/img36/1836/610231291345219_3.jpg"></a></div>
          <p class="aname"><a title="情歌没有告诉你 - 梁静茹" href="/album/61023"><strong>情歌没有告诉你</strong></a><a title="梁静茹" href="/artist/1836">梁静茹</a>2010-12</p>
          <span><a title="专辑试听" onclick="playalbum('61023')" href="javascript:;">专辑试听</a></span>
        </div>
        <div id="wsa_bottom"><a href="/space/albums-update" class="more">更多专辑更新<b></b></a></div>
      </div>

      <div id="ws_star">
        <h3>人气用户推荐</h3>
        <ul>
          <li rel="944"> <a href="/u/944"><img src="http://img.xiami.com/./images/avatar/44/944/9441242332040_1.jpg"/></a> <a href="/u/944">ㄤ男丨蘇瓦特</a> (重庆) / 男 <span><a href="javascript:;" onClick="attention('944',1);">+ 加关注</a></span> </li>
          <li rel="9939"> <a href="/u/9939"><img src="http://img.xiami.com/./images/avatar/39/9939/99391245830323_1.jpg"/></a> <a href="/u/9939">夜弓</a> (重庆) / 男 <span><a href="javascript:;" onClick="attention('9939',1);">+ 加关注</a></span> </li>
          <li rel="59532"> <a href="/u/59532"><img src="http://img.xiami.com/./images/avatar/32/59532/595321278384644_1.jpg"/></a> <a href="/u/59532">梨落盈盈</a> (重庆) / 女 <span><a href="javascript:;" onClick="attention('59532',1);">+ 加关注</a></span> </li>
        </ul>
        <div id="wss_bottom"><a href="/user/hot-users" class="more">更多人气推荐<b></b></a></div>
        <div id="wst_find"><a title="发现已经在虾米网上的朋友们" href="/space/contact-invite">找朋友</a><b class="fence">|</b><a title="邀请好友加入虾米得积分" href="/space/contact-invite">邀请好友</a></div>
      </div>

      <div id="idx_star">
        <h3>虾星星<em>SuperStar</em></h3>
        <a href="/u/114815"><img src="http://img.xiami.com/images/avatar/15/114815/1148151270796061_1.png" /></a>
        <a href="/u/114815">囡o(*≧▽≦)ツ~</a>
        <em>(泰州) / 女</em>
        <span><a href="/space/collect/u/114815">制作25张精选集</a></span>
        <p>推荐理由：囡，方言里，除了女儿，这还是对可爱小女孩的昵称；在网络流行语里，这是被框在□里的“女”，宅女。虾米的囡呢？她说：“有时候觉得上天必会待我不薄，没有奥特曼定会补我机器猫。”她说：“要是虾米有徽章我要把徽章挂满个人页面啊。”虾米达人，小报记者，新手导师，吐槽的糗虾组长，镇江迷笛音乐节虾米志愿者……身兼数职已经难能可贵，而更可贵的是，还能把这数职都做好哦。神奇少女囡，你有八只手吗？</p>
      </div>
      <!--<div id="ws_ad"> <a href="#"><img src="/res/v3/img/ad.jpg" /></a> </div>-->
      <div id="ws_mobile">
        <h3>虾米音乐无处不在</h3>
        <a title="虾米移动版，好音乐无处不在" href="/software/iphone"><img src="http://img.xiami.com/res/v3/img/mobile.jpg" /></a>
        <a class="mgt10" title="虾米电台 桌面版" href="/software/xiamiair"><img src="http://img.xiami.com/res/img/default/xiamiair_ad_trans.png" /></a>
      </div>
    </div>

    <!--[if IE]><i class="b_b"></i><![endif]-->
  </div>
</div>
<a href="/group/join/id/10147?done=/group/thread-new/id/10147" id="feedback_anchor" target="_blank" title="给虾米提建议">给虾米提建议</a>
<%= render "/shared/welcome" %>
