<div>
	<table class="lb_wrap">
		<tbody>
			<tr>
				<td class="topleft"></td>
				<td class="border"></td>
				<td class="topright"></td>
			</tr>
			<tr>
				<td class="border"></td>
				<td class="content r10">
				<div class="lb_hd">
					<a href="javascript:;" class="lb_close"></a>
				</div>
				<div class="lb_bd">
					<%= yield %>
				</div>
				</td>
				<td class="border"></td>
			</tr>
			<tr>
				<td class="bottomleft"></td>
				<td class="border"></td>
				<td class="bottomright"></td>
			</tr>
		</tbody>
	</table>
</div>